<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bag.css">
</head>
<body>
    {% include '__navbar.html' %}
    <div class="frame-18">
    <img class="rectangle-34" src="rectangle-340.svg" />
    <div class="resources-gift-cards-find-a-store-membership-nike-journal-site-feedback">
    <span>
        <span class="resources-gift-cards-find-a-store-membership-nike-journal-site-feedback-span">Resources<br /><br /><br /></span>
        <span class="resources-gift-cards-find-a-store-membership-nike-journal-site-feedback-span2">
            Gift Cards<br />
            Find a Store<br />
            Membership<br />
            Nike Journal<br />
            Site Feedback</span>
    </span>
    </div>
    <div class="company-about-nike-news-careers-investors-purpose-sustainability">
        <span>
        <span class="company-about-nike-news-careers-investors-purpose-sustainability-span">
            Company<br /><br /><br />
        </span>
        <span class="company-about-nike-news-careers-investors-purpose-sustainability-span2">
            About Nike<br />
            News<br />
            Careers<br />
            Investors<br />
            Purpose<br />
            Sustainability</span>
        </span>
    </div>
    <div class="promotions-discounts-student-military-teacher-first-responders-medical-professionals-birthday">
        <span>
        <span class="promotions-discounts-student-military-teacher-first-responders-medical-professionals-birthday-span">Promotions &amp; Discounts<br /><br /><br /></span>
        <span class="promotions-discounts-student-military-teacher-first-responders-medical-professionals-birthday-span2">Student<br />Military<br />Teacher<br />First Responders &amp; Medical Professionals
            <br />Birthday
        </span>
        </span>
    </div>
    <div class="united-states">
        <span>
        <span class="united-states-span">
            <br />
        </span>
        <span class="united-states-span2">United States</span>
        </span>
    </div>
    <div class="help-get-help-order-status-shipping-and-delivery-returns-order-cancellation-payment-options-gift-card-balance-contact-us">
        <span>
        <span class="help-get-help-order-status-shipping-and-delivery-returns-order-cancellation-payment-options-gift-card-balance-contact-us-span">
            Help<br /><br /><br />
        </span>
        <span class="help-get-help-order-status-shipping-and-delivery-returns-order-cancellation-payment-options-gift-card-balance-contact-us-span2">
            Get Help<br />
            Order Status<br />
            Shipping and Delivery<br />
            Returns<br />
            Order Cancellation<br />
            Payment Options<br />
            Gift Card Balance<br />
            Contact Us
        </span>
        </span>
    </div>
    <div class="bag2">Bag</div>
    <div class="summary">Summary</div>
    <div class="card">
        <img class="image-38" src="image-380.png" />
        <div class="nike-dunk-low-retro">Nike Dunk Low Retro</div>
        <div class="men-s-shoes">Men’s Shoes</div>
        <div class="_115-00">$115.00</div>
        <div class="_115-002">$115.00</div>
        <div class="_115-003">$115.00</div>
        <div class="free">Free</div>
        <div class="div">-</div>
        <div class="white-grey-fog">White/Grey Fog</div>
        <div class="size">Size:</div>
        <div class="rectangle-35"></div>
        <div class="_1">1</div>
        <div class="div2">+</div>
    </div>
    <div class="do-you-have-a-promo-code">Do you have a Promo Code?</div>
    <div class="subtotal">
        Subtotal<br />
    </div>
    <div class="estimated-tax">Estimated Tax</div>
    <div class="total">Total</div>
    <div class="estimated-shipping-handling">
        Estimated Shipping &amp; Handling<br />
    </div>
    <div class="rectangle-36"></div>
    <div class="rectangle-37"></div>
    <div class="rectangle-38"></div>
    <div class="rectangle-39"></div>
    <div class="rectangle-40"></div>
    <div class="checkout">Checkout</div>
    </div>      
</body>
</html>