<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../static/photos/Nike.png" alt="Nike Logo">
            <img src="../static/photos/air jordan.png" alt="Air Jordan Logo">
        </div>
        <h1>Enter your email address to login or register:</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email(class_="form-control", id="email", placeholder="example@email.com") }}
            </div>
            <button type="submit" class="btn">{{ form.submit.text }}</button>
        </form>
        <div style="text-align: center; margin-top: 20px;">
            <a href="/auth/google" class="btn google-btn">Register with Google</a>
        </div>
    </div>
</body>
</html>
