<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../static/photos/Nike.png" alt="Nike Logo">
            <img src="../static/photos/air jordan.png" alt="Air Jordan Logo">
        </div>
        <h1>Enter your email address to login or register:</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email(class_="form-control", id="email", placeholder="example@email.com") }}
            </div>
            <button type="submit" class="btn">
                <div class="continue">Continue</div>
            </button>
        </form>
        <a href="#" class="google-btn">
            <img src="../static/photos/google.png" alt="Google Logo">
            Sign Up with Google
        </a>
    </div>
</body>
</html>
