<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="frame-9">
        <img class="rectangle-3" src="../static/photos/Rectangle 3.svg" />
        <div class="new">New</div>
        <div class="men">Men</div>
        <div class="women">Women</div>
        <div class="sale">Sale</div>
        <div class="jordan">Jordan</div>
        <div class="kids">Kids</div>
        <div class="help">| Help |</div>
        <div class="join-us">Join Us |</div>
        <div class="sign-in">
          <a href="/email">Sign In |</a>
        </div>
        <div class="rectangle-2"></div>
        <img class="search" src="../static/photos/Search.png" />
        <div class="search2">Search</div>
        <img class="image-23" src="../static/photos/image 23.png" />
        <div class="nike-sb-dunk-travis-scott">
          <span>
            <span class="nike-sb-dunk-travis-scott-span">Nike Sb Dunk ‘</span>
            <span class="nike-sb-dunk-travis-scott-span2">Travis Scott</span>
            <span class="nike-sb-dunk-travis-scott-span3">’</span>
          </span>
        </div>
        <div class="just-in">Just in</div>
        <div
          class="form-meets-functions-with-the-weatherized-vomero-roam-an-all-season-staple-that-delivers-a-comfortable-stride-and-keeps-you-ready-for-whatever-no-matter-the-weather"
        >
          Form meets functions with the weatherized Vomero Roam - an all-season staple
          that delivers a comfortable stride and keeps you ready for whatever, no
          matter the weather.
        </div>
        <div class="legend-never-get-old">LEGEND NEVER GET OLD</div>
        <div class="the-stories-are-true-the-icon-gets-its-first-release-in-a-decade">
          The stories are true - the icon gets its first release in a decade.
        </div>
        <div class="vomero-roam">VOMERO ROAM</div>
        <div class="shop-by-classics">SHOP BY CLASSICS</div>
        <div class="rectangle-10"></div>
        <img class="image-15" src="../static/photos/image 15.png" />
        <div class="blazer">Blazer</div>
        <div class="dota-fortnite">DotaFortnite</div>
        <img class="unsplash-6-ha-ngmw-vn-mc" src="../static/photos/unsplash_6haNgmwVNMc.png" />
        <img class="unsplash-ebx-bl-iiey-6-g" src="../static/photos/unsplash_ebxBLIiey6g.png" />
        <img class="unsplash-nifvl-r-h-rog" src="../static/photos/unsplash_nifvlR_hRog.png" />
        <img class="unsplash-g-sw-m-qz-hue-xk" src="../static/photos/unsplash_GSwMQzHUEXk.png" />
        <div class="rectangle-12"></div>
        <div class="rectangle-13"></div>
    </div>      
</body>
</html>